<div>
   <div class="noteHead">
      <b class="noteTitle"><%- session.notes[i].title %></b>
      <div class="util">
         <b class="timeStamp"><%- session.notes[i].timestamp %></b>
         <img onclick="deleteNote([...el('#notes .delBttn')].indexOf(this))" class="delBttn" src="/images/delBttn.svg">
      </div>
   </div>
   <div class="text"><%- session.notes[i].text %></div>
</div>