<div>
   <div class="noteHead">
      <b class="noteTitle"><%- session.notes[i].title %></b>
      <div class="util">
         <div class="timeStamp"><%- session.notes[i].timestamp %></div>
         <img class="delBttn" src="/images/delBttn.svg">
      </div>
   </div>
   <div class="text"><%- session.notes[i].text %></div>
</div>