<html>
   <head>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/style/form.css">
   </head>
   <body>
      
      <div id="cont">
         <h1 id="title"><%= title %></h1>
         <form method="POST" action="<%- postRoute %>">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit">
         </form>
         <div id="linkmsg"><%- linkmsg %></div>
         <div id="authmsg"><%- authmsg %></div>

         <div id="loader">
            <img src="/images/load.svg"> <span>Loading...</span>
         </div>
      </div>

      <script src="/scripts/form.js"></script>
   </body>
</html>