<html>
   <head>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/style/home.css">
   </head>
   <body>
      
      <div id="header">
         <h1><%- session.username %>'s notes</h1>
      </div>
      
      <div id="cont">
         <div id="noteadd">
            <input type="text" placeholder="Title">
            <textarea placeholder="Your note"></textarea>
            <button onclick="submitNote()">save</button>
         </div>

         <div id="notes">
            <% for (i=0; i<session.notes.length; i++) { %>
               <%- include('../components/noteBox',session) %> 
            <% }; %>
         </div>
      </div>

      <script src="/scripts/home.js"></script>
   </body>
</html>